/* Définition du layout de base pour le body */
html, body {
    width: 100%;            /* Empêche le dépassement de largeur */
    height: 100%;           /* Empêche le dépassement de hauteur */
    overflow-x: hidden;     /* Cache tout débordement horizontal */
}

/* Style global pour le corps de la page */
body {
    font-family: Arial, sans-serif;     /* Définit la police de caractères pour tout le texte */
    margin: 0;                          /* Supprime les marges par défaut du navigateur */
    padding: 0;                         /* Supprime les espacements par défaut du navigateur */
    line-height: 1;                     /* Définit la hauteur de ligne pour améliorer la lisibilité */
    background-color: #f4f4f4;          /* Définit une couleur de fond claire pour la page */
    min-height: 100vh;                  /* Assure que le body occupe 100% de la hauteur de la fenêtre */
}

/* Style pour le titre principal */
h1 {
    color: #333;            /* Définit la couleur du texte du titre */
    text-align: center;     /* Centre le titre horizontalement */
    margin-top: 20px;       /* Ajoute un espace au-dessus du titre */
    margin-bottom: 10px;    /* Ajoute un espace en dessous du titre */
}

/* Style pour le header avec une bannière à fond uni */
.banner {
    background-color: #A499B3;  /* Couleur de fond unie pour la bannière */
    color: #fff;                /* Couleur du texte */
    text-align: center;         /* Centre le texte */
    padding: 60px;              /* Espacement autour du texte */
    position: relative;         /* Positionnement relatif pour les éléments enfants */
}

.banner h1 {
    font-size: 2.2em;   /* Taille de la police du titre */
    margin: 0;          /* Supprime la marge par défaut */
    line-height: 1.2;   /* Hauteur de ligne pour améliorer la lisibilité */
}

/* Style pour le titre principal */
h2 {
    color: #f4f4f4;         /* Définit la couleur du texte du titre */
    text-align: center;     /* Centre le titre horizontalement */
    margin-top: 1%;         /* Ajoute un espace au-dessus du titre */
    margin-bottom: -10%;    /* Ajoute un espace en dessous du titre */
    font-size: 1em;         /* Modifie la taille à 16px */
    display: inline-block;  /* Permet à l'élément de ne prendre que la largeur du contenu */
}

/* Exemple de survol pour un effet de titre */
h2:hover {
    color: #333;                /* Couleur du texte au survol */
    background-color: #f4f4f4;  /* Couleur de fond au survol */
    transform: scale(1.05);     /* Agrandissement au survol */
    transition: all 0.3s ease;  /* Ajoute une transition fluide au survol */
}

.centered {
    text-align: center;
}

/* Style pour le titre principal */
h3 {
    color: #333;        /* Définit la couleur du texte du titre */
    text-align: left;   /* Centre le titre horizontalement */
    font-size: 1.2em;   /* Modifie la taille à 1.2em */
    margin-left: 150px;
}

/* Style pour les paragraphes */
p {
    text-align: left;       /* Centre le texte du paragraphe */
    margin-left: 0px;       /* Ajoute un espace autour des paragraphes */
}

/* Le contenu occupe tout l'espace disponible avant le footer */
section {
    flex: 1;    /* Prend tout l'espace restant */
}

/* Style pour le pied de page */
footer {
    background-color: #333;                     /* Couleur de fond du pied de page */
    color: #fff;                                /* Couleur du texte dans le pied de page */
    text-align: center;                         /* Centre le texte horizontalement */
    padding: 10px;                              /* Espacement intérieur autour du texte */
    position: fixed;                            /* Fixe le pied de page en bas de la fenêtre */
    bottom: 0;                                  /* Positionne le pied de page au bas de la fenêtre */
    width: 100%;                                /* Fait en sorte que le pied de page occupe toute la largeur de la fenêtre */
    max-width: 100vw;
    height: 60px;                               /* Définit une hauteur fixe pour le pied de page */
    overflow: hidden;                           /* Ajoute des barres de défilement si le contenu dépasse la hauteur définie */
    border-top: 1px solid #444;                 /* Ajoute une bordure en haut du pied de page */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);  /* Ajoute une ombre légère au pied de page pour un effet de profondeur */
    /* z-index: 1000;                           /* Assure que le pied de page est au-dessus d'autres éléments de la page */
    font-size: 0.9em;                           /* Définit la taille de la police du texte du pied de page */
    line-height: 1.5;                           /* Définit l'espacement des lignes pour le texte du pied de page */
    margin: 0;                                  /* Supprime les marges par défaut du navigateur */
    position: relative;                         /* Position relative pour que le footer soit sous le contenu */
    flex-shrink: 0;                             /* Empêche le footer de rétrécir */
}

/* Style pour les images avec la classe .image */
.image {
    display: inline-block;                          /* Affiche l'image comme un bloc pour que les marges soient respectées */
    /* margin: 0 auto;                              /* Centre l'image horizontalement */
    margin-top: 5%;
    margin-bottom: 5%;
    width: 180px;                                   /* Limite la largeur maximale de l'image à 100% du conteneur parent */
    height: 100%;                                   /* Conserve les proportions originales de l'image */
    max-height: 200px;
    border-radius: 10px;                            /* Définit le rayon de bordure pour des coins arrondis; ajustez si nécessaire */
    overflow: hidden;                               /* Cache les débordements de l'image */
    box-shadow: 0 4px 20px rgba(255, 105, 180, 1);  /* Ombre plus prononcée au survol */
    opacity: 1;                                     /* Définit l'opacité de l'image; ajustez pour des effets de transparence */
}

/* Exemple de survol pour un effet d'image */
.image:hover {
    opacity: 0.8;               /* Réduit l'opacité de l'image au survol pour un effet de survol */
    /* transform: scale(1.05);  /* Agrandit légèrement l'image au survol */
    width: 80%;                 /* Agrandit de 80% la largeur */
    transition: width 5s ease;  /* Ajoute une transition fluide au survol */
}

.image-pp > img { height:100px; display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%; }

.image-pp{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
/*    overflow: hidden;*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 3);
} */

.image-pp:hover{
    transform: scale(1.04);
    transition: all 1s ease;
}

/* Classe pour les titres principaux */
.text-title {
    font-size: 1.6em;       /* Taille de la police plus grande pour les titres */
    font-weight: bold;      /* Texte en gras */
    color: #333;            /* Couleur du texte */
    line-height: 1.2;       /* Hauteur de ligne plus petite pour les titres */
    text-align: left;       /* Centre le texte */
    margin-left: -5%;       /* Marge à gauche du titre */
    margin-bottom: 0%;      /* Marge en bas du titre */
    padding: 0;             /* Supprime le padding */
}

/* Classe pour le texte en footer */
.text-footer {
    text-align: center;     /* Centre le texte */
}

/* Marge de 15% */
.margin {
    margin-left:15%;        /* Marge de 15% */
}